.collection {
    position: relative;
    padding: 20px;
    background-image: url(../img/pissok.png);
    background: #F8F8F2;
    background-blend-mode: overlay;
  }
  .collection::before {
    position: absolute;
    top: 70px;
    left: calc(50% - 765px);
    display: block;
    width: 402px;
    height: 300px;
    background-image: url("../img/before.png");
    background-repeat: no-repeat;
    z-index: 10;
    content: "";
  }
  .collection::after{
    position: absolute;
    top: 720px;
    right: calc(50% - 950px);
    display: block;
    width: 450px;
    height: 477px;
    background-image: url("../img/aftor.png"), url("../img/aftor2.png");
    background-position: center, calc(50% - 5px) calc(50% + 25px);
    background-repeat: no-repeat;
    content: "";}
  .collection__inner::before {
    content: "";
    display: block;
    z-index: -200;
    background-image: url("../img/barg.png");
    background-position-x:calc(50% ) ;
    background-position-y: calc(50% );
    background-repeat: no-repeat;
    background-size: 316px 269px;
  }
  .collection__title {
    margin: 0;
    padding: 50px 0 80px 0;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: #000000;
    
  }
  .collection__list {
    Width :1114px;
    Height :1500px;
    margin-right: auto;
    margin-left: auto;
    list-style-type: none;
    justify-content: space-between;
  }
  .collection__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .collection__item__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    font-variant: small-caps;
    
  }
  .collection__item__text {
    margin-right: 50px;
    Width :400px;
    padding-right: 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #333333;
  }
  .collection__item__textt {
    margin-left: 90px;
    Width :400px;
    padding-right: 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #333333;
  }
  .collection__item__titlee {
    margin-left: 90px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    font-variant: small-caps;
  }
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    
    //  background-image: url();
  } 