.footer {
  background-image: url("../images/footer_back.png");
  background-size: cover;
  background-color: #F3D7B7;
  background-blend-mode: overlay;
}

.footer__inner {
  display: flex;
  align-items: center;
  padding: 65px 0;
}

.footer__logo {
  display: inline-block;
  margin-right: 246px;
}

.footer__logo-img {
  width: 235px;
  height: 24px;
}

.footer__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: auto;
  list-style-type: none;
}

.footer__item+.footer__item {
  margin-left: 40px;
}

.footer__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
}

.footer__link:hover {
  color: #625f5f;
}

.footer__page-link {
  text-decoration: none;
  display: inline-block;
}

.footer__page-link+.footer__page-link {
  margin-left: 30px;
}

.footer__page-img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}