.site-hero {
  position: relative;
  padding: 116px 0 249px;
  background-image: url("../images/img_1.png"), url("../images/background.png");
  background-blend-mode: normal, overlay;
  background-repeat: no-repeat;
  background-size: 710px 696px, 100%;
  background-color: #F3D7B7;
  background-position: calc(50% + 405px) bottom, center;
}



.site-hero::before {
  position: absolute;
  top: -80px;
  left: calc(50% - 40px);
  display: block;
  width: 214px;
  height: 214px;
  background-image: url("../images/logo_coffee.svg");
  background-repeat: no-repeat;
  background-size: 214;
  z-index: 1;
  content: "";
}

.site-hero__list {
  width: 464px;
  margin-left: 100px;
}

.site-hero__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
}

.site-hero__text {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.site-hero__link {
  display: inline-block;
  width: 193px;
  padding: 16px 24px;
  background: #0A775F;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.6s ease;
}

.site-hero__link:hover {
  background-color: #FFFFFF;
  color: #0A775F;
}