.works::before {
    position: absolute;
    left: calc(50% + 410px);
    display: block;
    top: 3605px;
    width: 841px;
    height: 300px;
    background-image: url("../img/sticker-3\ 1.png");
    background-repeat: no-repeat;
    z-index: 10;
    content: "";
}
.works__inner {
    height: 830px;
    background-image: url(../img/peesokk.png);
    background-color:  #0A775F;
    background-repeat: no-repeat;
}
.works__title {
    padding-top: 50px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: #FFFFFF;
}
.works__item {
    padding-bottom: 40px;
    Width :433px;
    Height :400px;
    background-color: #F8F8F2;
    border: 1px solid #F8F8F2;
    box-sizing: border-box;

}
.transform {
    height: 300px;
}
.works__spn1 {
    margin-left: 20px;
    padding-left: 50px;
    width: 60px;
    height: 60px;
    background: #F8F8F2;
    border: 4px solid #C99B67;
    box-sizing: border-box;
}
.works__spn2 {
    margin-left: 392px;
    width: 60px;
    height: 60px;
    background: #F8F8F2;
    border: 4px solid #C99B67;
    box-sizing: border-box;
}
.works__spn3 {
    margin-left: 394px;
    width: 60px;
    height: 60px;
    background: #F8F8F2;
    border: 4px solid #C99B67;
    box-sizing: border-box;
}
.works__chekbox {
    display: flex;
}
.works__chekbox::before {
    position: absolute;
    left: calc(50% - 563px);
    display: block;
    top: 3771px;
    width: 841px;
    height: 300px;
    background-image: url("../img/chiziq.png");
    background-repeat: no-repeat;
    z-index: 10;
    content: "";
}
.works__list {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
} 
.item__spn {
    width: 80px;
    display: block;
    margin-left: auto;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    font-variant: small-caps;
    color: #333333;
    opacity: 0.8;
}
.item__title {
    margin: 0;
    padding: 20px;
    Width : 251px;
    Height :94px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;
    color: #333333;
}
.item__text {
    padding-left: 20px;
    Width:385px;
    Height :112px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
} 
.works__button {
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    align-items: center;
    padding: 16px 24px;
    color: #FFFFFF;
    width: 193px;
    height: 51px;
    background: #C99B67;
    border-radius: 100px;
    transition: all 0.5s ease;

}
.works__button:hover {
    background-color: #000000;
    color: blue;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  

} 